header{
//    background-color: white;
    padding: 0;
   
    
}
a{
    color:white;
}
a:hover{
    background-color: white;
    color: #fc8019;
    cursor: pointer;
    border: 1px solid white;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fc8019;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;

}
nav ul li a{
    padding: 1em;
    display: inline-block;
}