div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
div a{
    background-color: #c3c2c2;
    padding: .4rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
    margin-top: 1.5rem;
}